<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  
  <!-- Added connection string by Mo-->
  <connectionStrings>
    <add name="TradingPlatformEntities" connectionString="metadata=res://*/TradingPlatformEntities.csdl|res://*/TradingPlatformEntities.ssdl|res://*/TradingPlatformEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TradingPlatform;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    
    <!--Mo Added Config start
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
    
    <services>
      <service name="TradingPlatform_SOAP_WCF_Service.BrokerService">
        <endpoint address="api" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="TradingPlatform_SOAP_WCF_Service.IBrokerService" />
      </service>
    </services>
    Mo Added Config end-->
    
        <!--Mo Added Config start-->
   <extensions>
      <behaviorExtensions>
        <add name="corsBehavior" type="WebHttpBehaviorExtensions.Cors.EnableCorsBehavior, WebHttpBehaviorExtensions, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
  </extensions> 
      <!--Mo Added Config end-->

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
    <behavior name="webHttpServiceBehavior">
      <corsBehavior/>
      <webHttp/>
    </behavior>
    </endpointBehaviors>
      
      <!--Mo Added Config start
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp />
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
      Mo Added Config end-->
    </behaviors>
    
    <!--Mo Added Config start-->
     <services>
      <service name="TradingPlatform_SOAP_WCF_Service.BrokerService">
        <endpoint address="" binding="webHttpBinding" contract="TradingPlatform_SOAP_WCF_Service.IBrokerService" />
      </service>
    </services>
    <!--Mo Added Config end-->
    
    
    <!--Mo Added Config start
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="Services.Behaviours.EnableCrossOriginResourceSharingBehavior, Services, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    Mo Added Config end-->
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <!--Mo Added Config start
    <bindings>
      <webHttpBinding>
        <binding name="defaultRestJsonp" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="64" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    Mo Added Config end-->

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    
    <!--Mo Added Config start-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <!-- <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" /> -->
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <!--<add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" /> -->
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
    <!--Mo Added Config end-->

  </system.webServer>
  <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>

    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

</configuration>
